<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>273872912892-tsivd08d63meuknaa8fl2ktrlufojj1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273872912892-tsivd08d63meuknaa8fl2ktrlufojj1q</string>
	<key>API_KEY</key>
	<string>AIzaSyCDFKA7AyfBeiiB02WlCPVANWeK_kfcdyM</string>
	<key>GCM_SENDER_ID</key>
	<string>273872912892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MbsAuto</string>
	<key>PROJECT_ID</key>
	<string>mbsauto-b778d</string>
	<key>STORAGE_BUCKET</key>
	<string>mbsauto-b778d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273872912892:ios:f2b4fe5a1f36980d21f279</string>
</dict>
</plist>